<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
	<meta name="description" content="Generate Parse Tree from random length arithmetic expression">
  	<meta name="keywords" content="lex,yacc,compiler,parse,tree,three,address,treant,js,ju,cse,jadavpur">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiler Lab Project</title>
	<!-- 	Expression Prompt -->
	<script>
		function newExpression(){
			let exp = prompt('Please Enter your expression');
			if(exp != null){
				exp = encodeURIComponent(exp)
				window.location = "./?exp="+exp;
			}
			else
				window.location.reload();	
		}
		var field = "exp";
		var url = window.location.href;
		var isPresent = false
		if(url.indexOf('?' + field + '=') != -1)
			isPresent = true;
		else if(url.indexOf('&' + field + '=') != -1)
			isPresent = true;
		if(!isPresent){
			newExpression()
		}
	</script>	
	<!-- 	stylesheets -->
	<link rel="stylesheet" href="/assets/Treant.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
	<link rel="stylesheet" href="/assets/grid.css" type="text/css"/>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
		    <div class="col-sm-8 col-xs-12" style="text-align: center;">
				<h2>Anonnated Parse Tree</h2>
			    	<a href="https://rohitchattopadhyay.github.io/BCSE-III-Compiler-Design-Lab-Project/" target="_blank" style="text-decoration:none">Click for more details</a>
				<p style="font-weight: 900;">{{expression}}</p>
				<div id="tree-annonated"></div>
			</div>
			<div id="three-address" class="col-sm-4 col-xs-12">
				<h2>Three Address Code</h2>
				<pre style="height: 50vh; overflow-y: auto; margin: 0">{{address}}</pre>
				<marquee onclick="newExpression()" style="cursor: pointer;border: 1px solid;padding: 0.5em;border-left: none;border-right: none;">Click to enter new expression</marquee>
				<small>
					Developed for JU BCSE Compiler Lab Assignment<br/>
					<em>Members:</em>
					<br/>67	Dibyajyoti Dhar
					<br/>71	Devesh Jalan
					<br/>73	Rohit Rajat Chattopadhyay
					<br/>76	Priti Shaw
				</small>
			</div>
		</div>
	</div>
	<!-- javascript -->
    <script src="/assets/raphael.js"></script>
	<script src="/assets/Treant.js"></script>
	<script>		
		var simple_chart_config = {
			chart: {
				container: "#tree-annonated",
				nodeAlign: "BOTTOM",
				siblingSeparation: 100,
				node : {
					collapsable: true,
				},
				connectors : {
					type: "straight",
				}
			},			
			nodeStructure: {{tree|tojson|safe}}
		};
		var my_chart = new Treant(simple_chart_config);
		var chart = document.getElementById("tree-annonated");
		chart.scrollLeft=chart.offsetWidth;
	</script>
</body>
</html>
